h1, h2 {
	text-align: right;
}
h1 {
	color: green;
	text-align: left;
}

#principal {
	color: orange;
}

h2 {
	color: blue;
}
p {
	color: green;
	text-align: left;
}

.lorem {
	color: black;
	text-align: center;
}