body {
	font-family: Allan, sans-serif;
	background-color: #FABADA;
}
h1, h2 {
	text-align: center;
	font-family: Aclonica, sans-serif;
}
h1{
	font-family: Allan;
}
#principal {
	font-size: 50px;
	color: black;
}

h1 {
	color: white;
	font-size: 40px;
}
h2 {
	color: blue;
	font-size: 20px;
}
p {
	color: red;
	text-align: justify;
	font-size: 20px;
}

.lorem {
	color: black;
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;
}


