body {
  color: black;
  font-family: Roboto;
}

ul li {
	list-style-type: none;
	font-size: 1.5em;
}

ul li a {
	text-decoration:none;
	color: black;
}

/* mouse over link */
ul li a:hover {
  font-size: 1.7em;
}

.fa-google, .fa-youtube{
	color: red;
}

.fa-facebook, .fa-twitter-square {
	color: blue;
}

